{% extends "base.html" %}

{% block content %}
	<h3>About Me</h3>
	<hr>
	<h4>佟佳兴 (Tony)</h4>
	<h5>个人简介</h5>
	<p>
		<ul>
			<li>牛津大学计算机科学专业荣誉本科、硕士学位</li>
			<li>现任职于加拿大皇家银行财富管理（伦敦）从事人工智能开发工作</li>
			<li>唯寻计算机导师</li>
			<li>前牛津大学商谈队队长</li>
			<li>前中英商务精英峰会主席</li>
			<li>万智牌认证二级裁判</li>
		</ul>
	<p>
	<h5>个人经历</h5>
	<p>
		<ul>
			<li>拥有4年教龄，教授牛剑申请培训、国际课程辅导、背景提升等课程</li>
			<li>培养过数十位英国G5人才</li>
			<li>大二时曾获得团队课题研究年级第一</li>
			<li>大学期间连续四年参加模拟商务谈判活动，并领导中赢未来商务精英峰会，谈判经验丰富，领导力强</li>
			<li>曾在维也纳金色大厅、中国国家大剧院进行演出</li>
		</ul>
	<p>
{% endblock%}
