{% extends "base.html" %}

{% block content %}
	<h3>Course Information</h3>
	<hr>
	<p>Computer Science is one of the most difficult course in Oxbridge in
    terms of its application rate (# candidates/# offers). It is also one of the
    most popular courses in other British universities.<p>
    <p>This course has many different variants which are joint majors between
    computer science and other courses (include but not limit to: Mathematics,
    Business, etc.) or are more field-specific (e.g. Data Science, Artificial
    Intelligence, etc.). </p>
    <p>Over the past four years, I have accumulated a great range of
    experiences about CS Oxbridge application from my own experience, feedbacks
    from previous candidates, information online and information from my tutors
    in Oxford. All those experiences are concentrated in this course.</p>
    <p>This course consists of four main parts: Mathematics. Logics, Computer
    Science and some other content. Mathematics is the most important part,
    because interviewers are taking into consideration that some candidates
    have never learnt programming before or taken Computer Science subject at
    A-level. However those candidates may have very strong mathematical and
    logical thinking abilities, especially those fields which are related to
    Computer Science.</p>
    <h6>Mathematics</h6>
    <ul>
        <li>Functions</li>
        <li>Limits</li>
        <li>Graph Sketching</li>
        <li>Calculus</li>
        <li>Sequences</li>
        <li>Proof</li>
        <li>Number Theory</li>
        <li>Recurrent Problems</li>
    </ul>
    <h6>Logics</h6>
    <ul>
        <li>Propositional Logic and Predicate Logic</li>
        <li>Boolean Expressions and Boolean Algebra</li>
        <li>Logic Problems</li>
    </ul>
    <h6>Computer Science</h6>
    <ul>
        <li>Basic Programming Concepts</li>
        <li>Complexity</li>
        <li>Asymptotics and Big-O Notation</li>
        <li>Analysis of Simple Algorithms</li>
        <li>Divide and Conquer Strategy</li>
        <li>Sorting Algorithms</li>
        <li>Dynamic Programming</li>
        <li>Searching Algorithms</li>
    </ul>
    <h6>Others</h6>
    <ul>
        <li>Simple Game Theory</li>
    </ul>        
{% endblock%}
