{% extends "base.html" %}

{% block content %}
    {% if not current_user.is_anonymous %}
    <h3>Logics</h3>
        <table class="table">

            <thead>
            <tr>
                <th scope="col">File</th>
                <th scope="col">Contents</th>
            </tr>
            </thead>
            <tbody>
            <tr>
		    <td>
			    <u>
			    <a href="{{url_for('static', filename='files/logic_compressed.pdf')}}">Day 3</a>
			    </u>
		    </td>
		    <td>
			    Propositional Logic, Predicate Logic and Proof
		    </td>
	    </tr>
	    </table>

   
    {% endif %}
{% endblock%}
