{% extends "base.html" %}

{% block content %}
    <h3>MAT Management</h3>
    <hr>
    {% for mat in mats%}
        <h4 style="display:inline;">{{mat['name']}}</h4> 
        <a class="btn btn-outline-primary btn-sm"
            href="{{url_for('mat_result_create', paper_name=mat['name'])}}" role="button">Create</a> 
            <a class="btn btn-outline-primary btn-sm"
                href="{{url_for('mat_availability', paper_name=mat['name'])}}" role="button">Set
            Availability</a>
        {% if mat['results'] | length > 0%}
        <table class="table">

            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Student</th>
                {% include '_mat_results_table_display.html'%}
            </tr>
            </thead>
            <tbody>
        {% for result in mat['results']%}
            <tr>
                <th scope="row">{{ result['id'] }}</th>
                <td>
                    <u><a href="{{ url_for('user_default',
                            username=result['user'].username) }}">
                                {{result['user'].firstname}}
                                {{result['user'].lastname}}</a></u>  <a href="{{
                                url_for('mat_management_user',
                                username=result['user'].username)}}" class="btn
                                btn-primary btn-sm" role="button">All</a>
                </td>
                {% include '_mat_results_table_display2.html'%}
            </tr>
        {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h5>Ther is no result yet.</h5>
        {% endif %}
        <hr>
    {% endfor %}
{% endblock%}
