{% extends "base.html" %}

{% block content %}
    <h3>My PS</h3>
    {% if data | length > 0%}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Filename</th>
                <th scope="col">Time Uploaded</th>
                <th scope="col">Delete</th>
            </tr>    
        </thead>
        <tbody>
            {% for ps in data%}
                <tr>

                    {% include '_ps_display.html'%}

                </tr>


            {% endfor %}

        </tbody>

    </table>


    {% else %}
    <h5>There is no PS yet.</5>
    {% endif %}
{% endblock%}
