{% extends "base.html" %}

{% block content %}
    <h3 style="display:inline;">Review PS</h3>

    <a class="btn btn-outline-primary btn-sm"
       href="{{url_for('ps_upload_general')}}"
            role="button">Upload</a> 

    <hr>
    {% if data | length > 0%}
    {% for d in data %}
    {% set u = d['user']%}

    <h4 style="display:inline;"><u><a href="{{ url_for('ps_management_user', username=u.username)}}">{{
                u.firstname}} {{ u.lastname}}</a></u></h4>
    <a class="btn btn-outline-primary btn-sm"
       href="{{url_for('ps_upload_user', username=u.username)}}"
            role="button">Upload</a> 
    {% if d['ps'] | length > 0%}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Filename</th>
                <th scope="col">Time Uploaded</th>
                <th scope="col">Delete</th>
            </tr>    
        </thead>
        <tbody>
            {% for ps in d['ps']%}
                <tr>

                    {% include '_ps_display.html'%}

                </tr>


            {% endfor %}

        </tbody>

    </table>
    {% else %}
    <h6> This student has no PS file uploaded. </h6>
    {% endif%}
    <hr>


    {% endfor%}
    {% else %}
    <h5>There is no PS yet.</5>
    {% endif %}
{% endblock%}
