{% extends "base.html" %}
{% block content %}
    <h3>Upload a PS File 
        {% if mode == 2%} 
        for {{user.firstname}} {{user.lastname}}
        {% endif %}
    </h3>
    <div class="alert alert-warning" role="alert">
        Note that only <b>doc, docx, txt, pdf, page, md</b> extensions are allowed.
    </div>
    <div class="alert alert-warning" role="alert">
        Please make sure your file name is unique to other files of yours
        (including reviewed PS file) 
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {% if mode == 1 %}
        <p>
            {{ form.owner.label }}<br>
            {{ form.owner() }}<br>
            {% for error in form.owner.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        {% endif %}

        <p>
            {{ form.file_upload.label }}<br>
            {{ form.file_upload() }}<br>
            {% for error in form.file_upload.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
