{% extends "base.html" %}

{% block content %}
<h3>User Management</h3> <a href="{{ url_for('register') }}"><u>Add a New User</u> </a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Admin</th>
            <th scope="col">Posts</th>
            <th scope="col">Account</th>

        </tr>
        </thead>
        <tbody>
    {% for u in users %}
        <tr>
            <th scope="row">{{ u.id }}</th>
            <td>
                <u><a href="{{ url_for('user_default', username=u.username) }}">
                            {{u.username}} </a></u>
                {% if u.is_admin %} 
                <span class="badge badge-pill badge-primary">admin </span>
                {% endif %} 
            </td>
            <td>
                <u><a href="{{ url_for('change_admin', username=u.username) }}">
                {% if u.is_admin%}
                Disable Admin
                {% else %}
                Set Admin
                {% endif%}
                </a></u>
            </td>
            <td>
                <u><a href='{{url_for('delete_user_post_confirm', username=u.username)}}'>
                        Delete All Posts
                </a></u>
            </td>
            <td>
                <u><a href="{{url_for('delete_user_confirm', username=u.username)}}">
                        Delete Account
                </a></u>
            </td>
        </tr>
    {% endfor %}
        </tbody>

    </table>
{% endblock%}

