{% extends "base.html" %}

{% block content %}
    <h3>User: {{ user.firstname}} {{ user.lastname}} ({{ user.username }})</h3>
    {% if current_user == user %}
    <h5>Your Posts:</h5> 
    {% else %}
    <h5>His/Her Posts:</h5> 
    {% endif %}
    <hr>
    {% include '_posts.html' %}
    {% if page <= 5  %}
        {% for p in range(1, total_page+1)%}
             
            {% if page != p%}
            <a href="{{ url_for('user', username=user.username, page=p)}}"><u>{{p}}</u></a>
            {% else %}
            <b>{{p}}</b>
            {% endif %}
        {% endfor%}
    {% endif%}
    
{% endblock %}
